
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:wght@400;500;700;900&display=swap');

 @import './components/_general';
 @import 'sass/utils/variables.scss';
 @import './components/_header';
 @import './components/_logo';
 @import './components/_imageBackground-slogan';
 @import './components/_modal-window';
 @import './components/_paragraphs-profit';
 @import './components/_images-works';
 @import './components/_team';
 @import './components/_socialnetworks';
 @import './components/_customers';
 @import './components/_footer';
 @import './components/_buttons-portafolio';
 @import './components/_portafolio-products.scss';

 
 
 
 
 
 
 