@import 'sass/utils/variables.scss';


.customers {
    margin-top: 59px;
    margin-bottom: 0px;
    
    &__title {
     font-size: 36px;
     color: #212121;
     line-height: 1.17;
     font-weight: 700;
     text-align: center;
   }

   &__icons {
     color: #AFB1B8;
     fill: currentColor;
     width: 172px;
     height: 81px;
     margin-left: 0px;
     margin-right: 30px;
     border: 1px solid currentColor;
     border-radius: 4px;
     cursor: pointer;
     &:hover{
       color: $secondaryColor;
     }
     &:active{
       color: $secondaryColor;
     }
   }
   &__icon-last {
     color: #AFB1B8;
    fill: currentColor;
    width: 172px;
    height: 81px;
    margin-left: 0px;
    margin-right: 30px;
    border: 1px solid currentColor;
    border-radius: 4px;
    cursor: pointer;
    width: 170px;
    margin-right: 0px;

    &:hover{
    color: $secondaryColor;
    }
    &:active{
    color: $secondaryColor;
    }
   }
  }
  