@import 'sass/utils/variables.scss';

        .logo {
            font-family: $secondaryText;
           color: $secondaryColor;
           font-size: 26px;
           line-height: 1.19;
           font-weight: 700;
          }
  